* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

.head {
    color: white;
    background-color: #FF2950;
    height: 100px;
    width: 100vw;
    padding-top: 20px;
    padding-left: 120px;

    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;


}