* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.whole-page {
    display: flex;
    justify-content: space-around;
}
/* first part */
.subsection-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    padding-left: 0px;
    padding-top: 100px;
}

h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

h1 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;

}

.small-fraction-1, .small-fraction-2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
/* social media */
.contact-section {
    display: flex;
    justify-content: space-between;
}

.small-fraction-2 {
    color: #22222280;

}

.social1 {
    background: #728CF7;
    padding: 9px 14px;
    border-radius: 100px;
}

.social2 {
    background: #E17094;
    padding: 12px 11px;
    border-radius: 100px;
}

.social3 {
    background: #68AAF3;
    padding: 12px 11px;
    border-radius: 100px;
}

.social4 {
    background: #FF9B70;
    padding: 12px 11px;
    border-radius: 100px;
}
:is(.social1, .social2, .social3, .social4):hover {
    background: #ff002f;
}
:is(.social1, .social2, .social3, .social4):active {
    background: #FF9B70;
}

/* button part */
.button-part {
    display: flex;
    justify-content: space-around;
}

.button-1, .button-2{
    height: 55px;
    width: 151px;
    border-radius: 10px;

}

.button-1 {
    background: #FF2950;
    border: #FF2950;
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}
.button-1:hover {
    color: #FF9B70;
    background: none;
    border: 2px solid #FF9B70
}
.button-1:active {
    background: #FF2950;
    border: #FF2950;
    color: white;
}

.button-2 {
    background: none;
    border: 2px solid #FF9B70;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}
.button-2:hover {
    background: #FF2950;
    border: #FF2950;
    color: white;
}
.button-2:active {
    color: #FF9B70;
    background: none;
    border: 2px solid #FF9B70
}

/* second part */
.subsection-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 80px;
    position: relative;
}

.bullet1 {
    position: absolute;
    z-index: -1;
    top: 90px;
    right: 20px;
}
.bullet2 {
    position: absolute;
    z-index: -1;
    bottom: 60px;
    left: 80px;
}
